*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: url(img_006.jpg)no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;  
}
.side-bar{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 0;
    transition: 0.6 ease;
    overscroll-behavior: auto;
    background: rgba(255, 255, 255, 0.2);
}
.side-bar .top-section{
    padding: 20px 10px 20px 10px;
    text-align: center;
}
.side-bar .top-section img{
    width: 110px;
    height: 90px;
    margin-bottom: 15px;
    border-radius: 50px;
}
.side-bar .top-section p{
    font-size: 16px;
    padding: 10px;
    text-transform: capitalize;
    box-shadow: 0 4px 2px -2px gray; /* shadow will only appear only on bottom side.....*/
    color: #fff;    
    font-family: cursive;
    }
.side-bar .top-section p span{
    font-size: 13px;
    font-weight: 200;
    font-family: monospace;
}
.side-bar .bottom-section{
    align-items: center;
    padding: 5px 10px 10px 10px;
    /* border: 1px solid red;   */
}
.side-bar .bottom-section .menu-item{       
    cursor: pointer;
}
.side-bar .bottom-section .menu-item:nth-last-child(1){
    box-shadow: 0 4px 2px -2px gray;    
} 
.side-bar .bottom-section .menu-item a{
    font-size: 15px;
    padding: 10px 25px;
    display: block;
    color: white;
    font-weight: 300;    
    text-decoration: none;
    transition: 0.3s ease;
}
.side-bar .bottom-section .menu-item > a:hover{
    margin-left: 6px;
    opacity: 0.8;    
}
.side-bar .bottom-section .menu-item i{
    padding-right: 15px;
}
.side-bar .bottom-section .menu-item .sub-menu{
    width: 110px;
    position: absolute;
    top: 40%;
    left: 103%;
    background: #fff;
    border-radius: 8px 0px 8px 0px;
    padding: 5px 6px;
    box-shadow: 8px 8px 9px #000;
    background: rgba(255, 255, 255, 0.3);
    display: none;  
}
.side-bar .bottom-section .menu-item .sub-menu a{
    font-weight: bold;
    font-size: 12px;
    display: block;
    color: #000;
    text-align: center;
    padding: 3px 0px;
    transition: 0.3s ease;
    border-left: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 2px;
    /* background: red;     */
}
.side-bar .bottom-section .menu-item .sub-menu a:hover{
    margin-left: 10px;
}
.side-bar .bottom-section .menu-item .sub-menu-2{
    width: 110px;
    position: absolute;
    top: 58%;
    left: 102%;
    background: #fff;
    padding: 5px 6px;
    box-shadow: 8px 8px 9px #000;
    border-radius: 8px 0px 8px 0px;
    background: rgba(255, 255, 255, 0.3);   
    display: none;    
}
.side-bar .bottom-section .menu-item .sub-menu-2 a{
    font-weight: bold;
    font-size: 12px;
    display: block;
    color: #000;
    text-align: center;
    padding: 3px 0px;
    transition: 0.3s ease;
    border-left: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 2px; 
}
.side-bar .bottom-section .menu-item .sub-menu-2 a:hover{
    margin-left: 9px;
}

.side-bar .end-section .menu-item{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 6px 0;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}
.side-bar .end-section .menu-item a{
    font-size: 15px;
    color: white;
    font-weight: 300;    
    text-decoration: none;    
    padding: 2px 12px;
    box-shadow: 0 4px 2px -2px gray;
    transition: 0.5s ease;   
}
.side-bar .end-section .menu-item i{
    margin-right: 5px;
}
.side-bar .end-section .menu-item a:hover{
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 16px;
    /* color: #000; */
}



.side-bar .bottom-section .menu-item .sub-menu-0{
    width: 110px;
    position: absolute;
    top: 58%;
    left: 103%;
    background: #fff;
    border-radius: 8px 0px 8px 0px;
    padding: 5px 6px;
    box-shadow: 8px 8px 9px #000;
    background: rgba(255, 255, 255, 0.3); 
    display: none;  
}
.side-bar .bottom-section .menu-item .sub-menu-0 a{
    font-weight: bold;
    font-size: 12px;
    display: block;
    color: #000;
    text-align: center;
    padding: 3px 0px;
    transition: 0.3s ease;
    border-left: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 2px;
    cursor: pointer; 
}
.side-bar .bottom-section .menu-item .sub-menu-0 a:hover{
    margin-left: 9px;
}

/* ---------------style for main content---------------- */

.right-side{
    position: absolute;
    top: 0;
    right: 0;
    width: 85vw;
    height: 100vh;
    padding: 20px;
    /* border: 1px solid red;     */
}
.right-side .top-header{
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #fff;
    border-bottom: 4px solid brown;
}
.right-side .top-header a{
    text-decoration: none;
    color: gray;
}
.right-side .top-header a i{
    margin-right: 10px;
}
.right-side .first-section{
    display: flex;
    padding: 20px 60px 40px 60px;
    justify-content: space-around;
}
.right-side .first-section .one,
.right-side .first-section .two,
.right-side .first-section .three,
.right-side .first-section .four,
.right-side .first-section .five{
    height: 80px;
    flex: 1;
    margin-right: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border-bottom: 4px solid blue;
}
.right-side .first-section .two{border-bottom: 4px solid red;}
.right-side .first-section .three{border-bottom: 4px solid yellow;}
.right-side .first-section .four{border-bottom: 4px solid green;}
.right-side .first-section .five{border-bottom: 4px solid purple;}

.right-side .first-section .one p,
.right-side .first-section .two p,
.right-side .first-section .three p,
.right-side .first-section .four p,
.right-side .first-section .five p{
    font-size: 11px;
    font-weight: bold;
    opacity: 0.6;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.right-side .first-section .one i,
.right-side .first-section .two i,
.right-side .first-section .three i,
.right-side .first-section .four i,
.right-side .first-section .five i{
    font-size: 13px;
    font-weight: bold;
    margin-right: 1px;
}
.right-side .first-section .one span,
.right-side .first-section .two span,
.right-side .first-section .three span,
.right-side .first-section .four span,
.right-side .first-section .five span{
    color: black;
    font-size: 18px;
    font-weight: bold;
}


/* ----------------------------Styling of table-------------------------------- */
.table-section{
    width: 80%;
    height: 55vh;
    padding: 0 30px;
    border-radius: 10px;
    position: absolute;
    left: 10%;
    background-color: #fff;
    z-index: -1;
    /* display: none;    */
    /* border: 1px solid orange; */
}
.table-section table{
    margin: 20px auto;
    font-family: arial, sans-serif;
    width: 100%;
    border-radius: 10px;
    border-bottom: 4px solid #2e73b4;
  }  
  th{
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;    
    text-align: center;
    padding: 5px;
    background-color: #2e73b4;
    border: 1px solid #dddddd;
  }
  td{
    border-radius: 5px;
    font-size: 11px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
  }
  .table-section table tr td img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: none;
  }
  .table-section table tr td .btn-pen{
    padding: 5px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
    background-color: #286bff;
  }
  .table-section table tr td .btn-pen i{
    font-size: 10px;
    color: #fff;
  }
  .table-section table tr td .btn-trash{
    padding: 5px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff5677;
  }
  .table-section table tr td .btn-trash i{
    font-size: 10px;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #dceaf5;
  }

  